/**
 * mcrgreyhats.css
 *
 * A bunch of customisations and improvements from the original theme.
 * These are written purely in CSS for simplicity (and because the theme
 * SASS doesn't include a config.rb or equivalent for settings).
 **/

/** Links section. **/
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.icon:hover {
	text-decoration: none;
}

.icon.featured:hover {
	cursor: inherit;
}

/** Reduce vertical spacing between sections. **/
body > div.style1,
body > div.style2,
body > div.style3,
body > div.style4 {
	padding: 4em 0;
}

/** Nav & hackthebox section. **/
.hackthebox {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    top: 3.25em;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #444;
    text-align: center;
    z-index: 0;
}

.hackthebox > div {
	margin: 0 auto;
}

#nav > .container:after {
	content: "";
	display: table;
	clear: both;
}

/** Site header and logo section. **/
.title {
	float: right;
}

.title p {
	margin-bottom: 0.25em;
}

.logo {
	margin-bottom: 2em;
}

/** Who we are section. **/
.about-body {
	margin: 0 3em;
	text-align: left;
}

/** Contact section. **/
#contact header {
	margin-bottom: 0;
}

#contact header p {
	padding: 0 1em;
}

/** Missing/incorrect icon colours **/
ul.social li a.fa-github {
	background-color: #4078c0;
}

ul.social li a.fa-meetup {
	background-color: #e0393e;
}

ul.social li a.fa-envelope-o {
	background-color: #ccc;
}

ul.social li a.fa-reddit {
	background-color: #5f99cf;
}

ul.social li a.fa-slack {
	background-color: #3eb991;
}

/** Mobile sizes **/
@media screen and (max-width: 737px)  {
	.logo,
	.logo span.image,
	.logo img {
		height: 250px;
	}
	.logo img {
		width: 250px;
	}
	.title p {
		padding: 0 3em;
	}

	header > p {
	    font-size: 1em;
	}
}

/** Above Mobile and below Desktop sizes. **/
@media screen and (max-width: 1200px) and (min-width: 737px) {
	header {
	    margin: 0 0 1em 0;
	}

	header h1 {
	    margin: 0;
	}

	.wrapper.first {
	    padding-top: 4em;
	}
}

/** Smaller than desktop size **/
@media screen and (max-width: 1200px)  {
	body, input, textarea, select {
	    line-height: 1.75em;
	    font-size: 14pt;
	    letter-spacing: 0;
	}

	h1 {
		font-size: 2.5em;
	}

	h2, h3, h4, h5, h6 {
	    font-size: 2em;
	}

	nav {
		height: 3.25em;
	}

	.logo,
	.logo span.image,
	.logo img {
		height: 250px;
	}
	.logo img {
		width: 250px;
		margin: 0 auto;
	}

	body > div.style1,
	body > div.style2,
	body > div.style3,
	body > div.style4 {
		padding: 1em 0;
	}
}

#top .image img {
	border-radius: 0 !important;
}
